# KiCAD related ignores
*-bak
*.bak
*.bck
_autosave*

# Firmware related ignores
build/
.dep/

# Build Objects
*~
*.d
*.out

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
